* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('../assets/placeholder3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e2dfd2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.logo {
  margin-left: 20px;
  margin-top: 20px;
  width: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.header h1 {
  font-size: 15px;
  color: #e2dfd2;
}

.header a{
  color: aliceblue;
  text-decoration: none;
}


.back-btn {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 8px;
}

.back-btn span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.welcome-banner h1 {
  font-size: 96px;
  color: white;
}

.welcome-banner h2 {
  font-size: 25px;
  color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-content h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  background-color: #fffefb;
  border: none;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
}

.signup-btn {
  background-color: #f2f1ed;
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.signup-btn:hover {
  opacity: 0.9;
}
.separator {
  height: 1px;
  border: none;
  width: 400px;
  opacity: 0.6;
  background-color: #727272;
}
.divider {
  color: #e2dfd2;
  margin: 20px 0;
  font-size: 14px;
}


.terms {
  color: #e2dfd2;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.quotes {
  /* position: fixed; */
  /* bottom: 0; */
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent, black);
  margin-top: 10px;
  margin-bottom: 0;
}

.quotes-upper {
  margin-bottom: -10px;
}
.quotes-lower {
  margin-bottom: 150px;
  background: linear-gradient(to bottom, #e2dfd2, #080808);
   -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


